.btn-primary {
  background: rgba(248, 245, 156, 0.989);
}

.titulomascotas {
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(221, 175, 36, 0.989);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.titulomapa {
  margin-top: 70px;
  margin-bottom: 100px;
  margin-left: 55px;
  color: rgba(221, 175, 36, 0.989);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
