.btn-primary {
  background: rgba(248, 245, 156, 0.989);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.titulomascotas {
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(221, 175, 36, 0.989);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.titulomapa {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
  color: rgba(221, 175, 36, 0.989);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
