.wrapper {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px 30px;
  min-height: 300px;
  background-color: #ffffff27;
  border-top: 1px solid #ffffff6e;
  border-left: 1px solid #ffffff6e;
  border-radius: 15px;
}

.input-text {
  position: relative;
  margin-top: 10px;
}

.details :nth-child(5) input[type="text"] {
  border: none;
}
.last {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
  margin-top: 50px;
}

.mensaje {
  color: #66829d;
  margin: 0;
  margin-top: 30px;
}
.botonenviar {
  background-color: #66829d;
  border-color: #66829d;
  border-radius: 200px;
  color: #ffffff;
}
