/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  background: rgba(248, 245, 156, 0.989);
}
.btn-primary {
  background: rgba(248, 245, 156, 0.989);
}
.logo {
  width: 200px;
  height: 150px;
}
.menu {
  background: rgba(221, 175, 36, 0.989);
  width: 600px;
  padding: 500px;
}
.footer {
  background: rgba(221, 175, 36, 0.989);

  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#botonesinicio {
  display: flex;
}

.botonrecuperacion {
  margin-top: 20px;
}

#registerbutton
{
  text-align: left;
}

.mensajecontrasena {
  margin-top: 10px;
}
#cardlogin {
  border-radius: 20px;
}

.protectoraocasa {
  color: #495969;
}

.cardcasa {
 
  background: rgba(221, 175, 36, 0.989);
  width: 60px;
  padding: 50px;


}


.buttonout
{
  text-align:right ; 
}
.tituloregistrate {
  color: #495969;
}
.btn btn btn-lg {
  background-color: rgba(221, 175, 36, 0.989);
}

.formulariopet {
  align-content: center;
}

.formulariousuario {
  border: 200px;
  width: 75%;
}

.maps {
  position: relative;
  height: 50vh;
  width: 20%;
}

.cardpets {
  margin: 10px;
  display: flex;
}


 .cardacogida {
  height:350px;
  width: 350px;
 }

 .listacogida {
  height:350px;
  width:350px;
 }


.titulomascotas {
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(221, 175, 36, 0.989);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.botoncontacto {
  background-color: rgba(221, 175, 36, 0.989);
  padding: 15px;
  margin-left: 27px;
  margin-top: 10px;
}
.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}


.protectoraocasa {
  color: #495969;
}

.buttonmpas {
  text-align: right;
}

.buttoninicio  {
 align-items: left;
}

.buttonregi {
  text-align: center;
}
#registerbutton
{
text-align: left;
}