/* Importing fonts from Google */

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
  background: linear-gradient(135deg, #00c3ff, #eeef1c);
  background: linear-gradient(135deg, #fc00ff, #00dbde);
  background-image: linear-gradient(135deg, #ff00ba 0%, #fae713 100%);
  background-image: linear-gradient(
    150deg,
    #5a00ff 0%,
    #ff1ff7 100%,
    #ff1ff7 100%
  );

  min-height: 93vh;
} */

.wrapper {
  max-width: 20px;
  margin: 50px auto;
}

.wrapper .card {
  max-width: 400px;
  min-height: 20px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  cursor: pointer;
  padding: 0.8rem;
}
.colorlogin {
  color: #1f5588;
}
.botonlogin {
  background-color: #5694cd;
  opacity: 90%;
  border-radius: 10px;
  align-items: center;
}

.wrapper .card a {
  text-decoration: none;
  color: #495969;
}

.wrapper .card a:hover {
  color: rgba(221, 175, 36, 0.989);
}

.wrapper .card .input-field {
  border-radius: 5px;
  color: #495969;
  padding: 0.3rem;
}

.wrapper .card .input-field input.form-control,
.wrapper .card .input-field input.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: #495969;

  /* color: #eee; */
}

.wrapper .card .input-field button.btn {
  color: #495969;

  /* color: #eee; */
  padding: 0rem;
  padding-right: 0.5rem;
}

.wrapper .card .input-field button.btn:hover {
  color: #495969;
}

.wrapper .card .input-field button.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.wrapper .card .input-field input::placeholder {
  color: #eee;
}

.wrapper .card .option {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.wrapper .card .option span.text-light-white:hover {
  color: #495969;
}

.wrapper .card .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.wrapper .card .option:hover input ~ .checkmark {
  background-color: #495969;
}

.wrapper .card .option input:checked ~ .checkmark {
  border: none;
  background-color: #495969;
  transition: 300ms ease-in-out all;
}

.wrapper .card .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .card .option .checkmark:after {
  left: 3px;
  top: -3px;
  width: 5px;
  height: 10px;
}

.wrapper .card .btn.btn-primary {
  border-radius: 20px;
  width: 100px;
  background-color: #495969;
  color: #333;
  border: none;
}

.wrapper .card .btn.btn-primary:hover {
  color: #fff;
  background: #333;
}

.wrapper .card .btn.btn-primary:focus {
  border: none;
  box-shadow: none;
}

.wrapper .card .text-light-white {
  color: #495969;
}
.wrapper .card .line span.connect {
  position: absolute;
  top: -12px;
  left: 33%;
  color: #000;
  padding: 0 0.3rem;
  z-index: 100;
  border-radius: 2px;
  background-color: #495969;
}

.wrapper .card .connections a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 370px) {
  .wrapper .card .line:after {
    left: 27%;
  }
}

@media (max-width: 350px) {
  .wrapper {
    margin: 10px auto;
  }

  .wrapper .card {
    margin: 10px;
  }
}
.colortexto {
  color: #fc00ff;
}
