.fluidbody {
  border: solid #dead31dd 10px;
}

.botonsubida {
  background-color: #66829d;
  border-color: #66829d;
  border-radius: 200px;
}

.caractercontrol {
  color: white;
  background-color: #66829d;
  display: inline-block;
}

.caractercontrol:focus,
.caractercontrol {
  background-color: #66829d;
}
