.body {
  background-color: endeded;
}

.home {
  display: grid;
}

.responsiv {
  display: grid;
  min-height: 600px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-right: 50px;
}

.in-flex {
  flex: 1;
}

.protectoraocasa {
  color: #495969;
}

.buttonmpas {
  text-align: right;
}

.buttoninicio {
  align-items: left;
}

.buttonregi {
  text-align: center;
}
#registerbutton {
  text-align: left;
}

.ctitle {
  background-color: rgb(187, 187, 58) !important;
  color: rgb(48, 54, 95) !important;
}

.botonmascota {
  background-color: #dbb839 !important;
  color: rgb(36, 78, 155);
  font: 30px fantasy;
  width: 150px;
  font-size: 20px;
  text-align-last: center;
  position: relative;
  top: -230px;
}

.bcontactanos {
  background-color: #dbb839 !important;
  color: rgb(36, 78, 155);
  font: 18px fantasy;
  width: 205px;
}

.card-border {
  border: solid #dead31dd 10px;
  height: 250px;
  flex: 1;
}

.titlecard {
  font-family: "Merriweather", serif;
  font: 18px fantasy;
}

.emailcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.ciudadcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.dispcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.animalcard {
  font-family: "Merriweather", serif;
  font: 14px fantasy;
}

.cardrespo {
  flex: 1;
}
.card {
  background-color: transparent;
  border: 0px;
}
