.protectoraocasa {
    color: #495969;
  }

  .buttonmpas {
    text-align: right;
  }

  .buttoninicio  {
   align-items: left;
  }

  .buttonregi {
    text-align: center;
  }
  #registerbutton
{
  text-align: left;
}