.body {
  background-color: endeded;
}

.in-flex {
  flex: 1;
}

.titulomascot {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #66829d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.titulomascoto {
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 50px;
  color: #66829d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}

.buttonregi {
  text-align: center;
}

.card-acogida {
  position: relative;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 50px;
  height: 250px;
  width: 300px;
  background: #fffbe5;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(221, 175, 36, 0.989);
}
.boton-contactos {
  margin-left: 80px;
  background-color: rgba(221, 175, 36, 0.989);
  border-color: #66829d;
  border-radius: 200px;
}
