

.body{
   background-color:endeded;
}

.home{
  display:flex
}

.in-flex{
  flex: 1;
}


.protectoraocasa {
    color: #495969;
  }

  .buttonmpas {
    text-align: right;
  }

  .buttoninicio  {
   align-items: left;
  }
 
  .buttonregi {
    text-align: center;
  }
  #registerbutton
{
  text-align: left;
}

.ctitle{
  background-color: rgb(187, 187, 58) !important;
  color:rgb(48, 54, 95) !important
  
}

.botonmascota{
  background-color: darkkhaki;
  color:#10467c; 
  font:18px fantasy;
  text-align-last: center;
}

.bcontactanos{
 background-color: #dbb839 !important;
 color:whitesmoke!important;
 font: 18px fantasy;

 }

 .card-border{
  border: solid #2e74e3 10px;

 }